.container{
	width: 40%;
	background-color: lightblue;
	margin: 20% auto;
}
/*
1.1
(créer une variable $age et lui assigner une valeur de votre choix.)

écrire le script qui indique la catégorie selon $age:
"Trop jeune" si moins de 6 ans
"Poussin" de 6 à 7 ans
"Pupille" de 8 à 9 ans
"Minime" de 10 à 11 ans
"Cadet" après 12 ans
"Trop âgé" à partir de 15 ans

1.2
Récupérer la valeur de l'âge grâce à un paramètre GET dans l'URL

1.3
Ajouter un formulaire HTML avec un INPUT "age" permettant d'entrer un entier, et un bouton de type "submit"
*/
